@import "../fontawesome-free-5.0.8/web-fonts-with-css/css/fontawesome-all.css";
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,500;0,700;1,400&family=Lato:wght@300;400&display=swap');
@import "bootstrap.css";
@import "bootstrap-theme.css";
@import "owl.carousel.min.css";
@import "owl.theme.default.min.css";

$font_family_main: 'Asap', sans-serif;


@mixin max-screen($number) {
  @media screen and (max-width: $number) {
    @content;
  }
}


.bg_header{
  background-image: url("../images/bg_banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 750px;
  @include max-screen(375px){
    height: 650px;
  }
}

.navbar-brand{
  padding-top: 30px;
}

.logo{
  .logo-block{
    max-width: 56px;
    margin: auto;
    h1{
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      font-size: 14px;
      color: black;
    }
    p{
      font-family: 'Lato', sans-serif;
      font-weight: 400;
      font-size: 4px;
      color: black;
    }
  }
}



.navbar-default {
  background-color: transparent;
  border: none;
  background-image: none;
  box-shadow: none;
  .navbar-nav {
    li {
      }
      a{
        padding: 30px 15px 8px 15px;
        font-family: $font_family_main;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 16px;
        color: #4d4d4d;
        &:after{
          content: '';
          display: block;
          width: 0;
          height: 2px;
          background-color: #878787;
          transition: 0.5s;
      }
    }
  }
}

.navbar{
  margin-bottom: 182px;
}

.navbar-default{
  .navbar-nav{
    a{
      &:hover{
        &:after{
          width: 100%;
        }
      }
    }
  }
}

.navbar-default{
  .navbar-nav{
    a{
      &:active{
        &:after{
          width: 100%;
        }
      }
    }
  }
}

header{
  .banner{
    .items_banner{
      h1{
        font-family: $font_family_main;
        font-weight: 500;
        font-size: 90px;
        color: #4d4d4d;
        margin-bottom: 25px;
        @include max-screen(768px){
          font-size: 100px;
        }
        @include max-screen(375px){
          font-size: 50px;
        }
      }
      p{
        color: rgba(77, 77, 77, 0.5);
        font-size: 20px;
        font-family: $font_family_main;
        font-weight: 500;
        margin-bottom: 33px;
        @include max-screen(768px){
          font-size: 30px;
        }
        @include max-screen(375px){
          font-size: 20px;
          margin-bottom: 15px;
        }
      }
      .a_links_header{
        a{
          background-color: transparent;
          border: solid #4d4d4d 1px;
          font-family: $font_family_main;
          font-weight: 500;
          color: #4d4d4d;
          font-size: 16px;
          min-width: 160px;
          text-decoration: none;
          display: inline-block;
          padding-top: 15px;
          padding-bottom: 15px;
          text-align: center;
          @include max-screen(768px){
            margin-bottom: 15px;
            min-width: 250px;
            font-size: 18px;
          }
          @include max-screen(375px){
            min-width: 200px;
            font-size: 14px;
          }
          &:hover{
            border: none;
            background-color: white;
            @include max-screen(768px){
              display: none;
            }
          }
        }
      }
    }
  }
}

.about{
  padding: 118px 0 123px;
  @include max-screen(375px){
    padding: 80px 0;
  }
  .about_me{
    h2{
      font-family: $font_family_main;
      font-weight: 400;
      font-size: 22px;
      letter-spacing: 10px;
      text-transform: uppercase;
      &:after{
        content: "";
        display: block;
        width: 60px;
        height: 4px;
        background-color: #7a7a7a;
        margin-top: 7px;
        margin-bottom: 20px;
      }
    }
    h3{
      font-family: $font_family_main;
      font-weight: 700;
      color: #4d4d4d;
      font-size: 46px;
      text-transform: uppercase;
      margin-bottom: 15px;
      letter-spacing: 10px;
      span{
        display: block;
        letter-spacing: 10px;
      }
    }
    p{
      font-family: $font_family_main;
      font-weight: 400;
      line-height: 25px;
      font-size: 16px;
      color: #4d4d4d;
      margin-bottom: 40px;
    }
    a{
      font-family: $font_family_main;
      font-weight: 500;
      color: #4d4d4d;
      display: inline-block;
      border: solid #4d4d4d 1px;
      min-width: 245px;
      padding: 20px 0;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
      &:hover{
        box-shadow: 0 14px 28px rgba(0,0,0,0.25);
        border: none;
        @include max-screen(768px){
          display: none;
        }
      }
    }
  }
  .about_me_img{
    @include max-screen(768px){
      display: none;
    }
  }
}

.services{
  padding: 115px 0 26px;
  background-color: #f6f6f6;
  @include max-screen(375px){
    padding: 80px 0;
  }
  h2{
    font-family: $font_family_main;
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 10px;
    text-align: center;
    &:after{
      content: "";
      display: block;
      width: 60px;
      height: 4px;
      background-color: #7a7a7a;
      margin: 7px 0 20px;
      margin: auto;
    }
  }
  h3{
    font-family: $font_family_main;
    font-weight: 700;
    color: #4d4d4d;
    font-size: 46px;
    text-transform: uppercase;
    margin-bottom: 60px;
    text-align: center;
    letter-spacing: 10px;
  }
  .row{
    .text-center{
      .item-services{
        margin-bottom: 89px;
        @include max-screen(375px){
          margin-bottom: 40px;
        }
        h4{
          color: #4d4d4d;
          font-family: $font_family_main;
          font-weight: 500;
          font-size: 24px;
          span{
            display: block;
          }
        }
      }
    }
  }
}

.skills {
  padding: 95px 0 125px;
  @include max-screen(768px){
    display: none;
  }
  @include max-screen(375px){
    padding: 80px 0;
  }
}
.style_h2{
    font-family: $font_family_main;
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 10px;
    text-align: center;
    &:after{
      content: "";
      display: block;
      width: 60px;
      height: 4px;
      background-color: #7a7a7a;
      margin: 7px 0 20px;
      margin: auto;
    }
}
.style_h3{
    font-family: $font_family_main;
    font-weight: 700;
    color: #4d4d4d;
    font-size: 46px;
    text-transform: uppercase;
    margin-bottom: 60px;
    text-align: center;
    letter-spacing: 10px;
  }

.portfolio{
  background-color: #f6f6f6;
  padding: 104px 0 122px;
  @include max-screen(375px){
    padding: 80px 0;
  }
  .container{
    .row{
      img{
        margin-bottom: 30px;
        height: 320px;
        @include max-screen(375px){
          width: 300px;
          height: 300px;
        }
        &:hover{
          box-shadow: 0 14px 28px rgba(0,0,0,0.25);
          @include max-screen(768px){
            display: none;
          }
        }
      }
    }

  }
}

.gallery{
  display: none;
}

.portfolio > .container > .link_portfolio {
  text-align: center;
  a {
    text-decoration: none;
    background-color: white;
    display: inline-block;
    min-width: 190px;
    font-family: $font_family_main;
    font-weight: 500;
    font-size: 15px;
    color: #4d4d4d;
    padding-bottom: 20px;
    padding-top: 20px;
    text-transform: uppercase;
    text-align: center;
    &:hover {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
      @include max-screen(768px){
        display: none;
      }
    }
  }
}


.testimonials{
  padding: 105px 0 120px;
  @include max-screen(375px){
    padding: 80px 0;
  }
  h2{
    @include max-screen(375px){
      font-size: 22px;
    }
  }
  h3{
    @include max-screen(375px){
      font-size: 32px;
    }
  }
  .testimonials_block{
    border: solid black 1px;
    padding: 80px 75px 38px;
    margin: auto;
    max-width: 955px;
    @include max-screen(768px){
      border: none;
    }
    .testimonials_content_flex {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 30px;
      .testimonials_img{
        width: 160px;
        height: 160px;
      }
      .testimonials_review{
        width: 590px;
        height: 160px;
        h4{
          color: #212121;
          font-family: $font_family_main;
          font-weight: 500;
          text-transform: uppercase;
          font-size: 30px;
          span{
            font-weight: 400;
            font-size: 12px;
            display: block;
            font-style: italic;
          }
        }
        p{
          font-family: $font_family_main;
          font-weight: 400;
          font-size: 16px;
          line-height: 26px;
          color: rgba(33, 33, 33, 0.5);
          text-transform: uppercase;

        }
      }

    }
  }
}


.owl-dots .owl-dot span{
  background-color: transparent;
  height: 13px;
  width: 13px;
  border: solid black 1px;
  display: inline-block;
  margin: 0 2.5px;
}

.owl-dots{
  text-align: center;
}

.owl-dots .owl-dot.active span{
  background-color: black;
}

.achieves{
  background-color: #f6f6f6;
  padding: 73px 0 66px;
  .item-achieves{
    .mg-t{
      margin-top: 20px;
    }
    h4{
      font-family: $font_family_main;
      font-weight: 700;
      font-size: 22px;
      span{
        font-weight: 400;
        text-transform: uppercase;
        display: block;
      }
    }
  }
}

.achieves_b_bottom{
  background-color: white;
  height: 155px;
  @include max-screen(768px){
    display: none;
  }
}

footer{
  background-image: url("../images/footer_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 787px;
  padding: 70px 0 25px;
  h2{
    color: white;
    text-transform: uppercase;
    font-family: $font_family_main;
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 10px;
    text-align: center;
    &:after{
      content: "";
      display: block;
      width: 60px;
      height: 4px;
      background-color: white;
      margin-top: 7px;
      margin-bottom: 20px;
      margin: auto;
    }
  }
  h3{
    color: white;
    font-family: $font_family_main;
    font-weight: 700;
    font-size: 46px;
    text-transform: uppercase;
    margin-bottom: 60px;
    text-align: center;
    letter-spacing: 10px;
  }
  input{
    border: none;
    background-color: white;
    height: 58px;
    padding: 23px 10px;
    margin-bottom: 30px;
    font-family: $font_family_main;
    font-weight: 400;
    font-size: 16px;
    color: rgba(33, 33, 33, 0.5);
  }
  textarea{
    font-family: $font_family_main;
    font-weight: 400;
    font-size: 16px;
    color: rgba(33, 33, 33, 0.5);
    border: none;
    background-color: white;
    height: 209px;
    padding: 25px 10px;
    margin-bottom: 30px;
  }
  .btn_footer{
    text-align: center;
    margin: auto;
    border-bottom: solid 1px white;
    button{
      min-width: 125px;
      display: inline-block;
      padding: 20px 0;
      font-family: $font_family_main;
      font-weight: 400;
      font-size: 16px;
      color: #4d4d4d;
      text-align: center;
      border: none;
      margin-bottom: 60px;
      i{
        margin-left: 5px;
        transform: rotate(20deg);
      }
      &:hover {
        box-shadow: 0 14px 28px rgba(255, 255, 255, 0.25);
      }
    }
  }
}


.flex-footer{
  display: flex;
  max-width: 205px;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 25px;
  .footer_link{
    width: 27px;
    height: 27px;
    background-color: white;
    text-align: center;
    padding: 3px 0;
  }
  i{
    font-size: 14px;
    color: #575757;
    line-height: 27px;
  }
  .behance{
    &:hover{
      background-color: #1769FF;
      i{
        color: white;
      }
    }
  }
  .google{
    &:hover{
      background-color: #EA4335;
      i{
        color: white;
      }
    }
  }
  .twitter{
    &:hover{
      background-color: #00ACED;
      i{
        color: white;
      }
    }
  }
  .linkedin{
    &:hover{
      background-color: #007BB6;
      i{
        color: white;
      }
    }
  }
  .facebook{
    &:hover{
      background-color: #0075EE;
      i{
        color: white;
      }
    }
  }
  .dribbble{
    &:hover{
      background-color: #E94C88;
      i{
        color: white;
      }
    }
  }
}

.p-footer{
  p{
    color: white;
    font-family: $font_family_main;
    font-weight: 400;
    font-size: 16px;
    margin-top: 27px;
    @include max-screen(375px){
      color: #575757;
    }
  }
}

.back_to_top {
  position: fixed;
  bottom: 80px;
  right: 40px;
  z-index: 9999;
  width: 46px;
  height: 46px;
  text-align: center;
  line-height: 46px;
  background: white;
  color: #575757;
  cursor: pointer;
  display: none;
  font-size: 16px;
}

.back_to_top-show {
  display: block;
  font-size: 8px;
}

.navbar-toggle{
  margin-right: 15px;
  margin-top: 30px
}

.navbar-collapse{
  border: none;
}
.navbar-default {
  .navbar-nav {
    a{
      padding: 20px 15px 0px 15px;
      font-family: "Asap", sans-serif;
      font-weight: 400;
      text-transform: uppercase;
      font-size: 14px;
    }
  }
}

.navbar-default > .navbar-collapse, .navbar-default > .navbar-form{
  border: none;
}